html, body {
  margin: 0;
  padding: 10px;
  max-width: 400px;
}
canvas {
  display: block;
  border: 1px solid black;
  cursor: pointer;
}

p { margin-top: 2em; }

a { text-decoration: none; color: #008ea3;}

#permalink { font-size: .8em; font-family: monospace; }
